# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Hp\Desktop\Beadandok\Java fejlesztes a gyakorlatban\epam-deik-java-dev\final\ticket-service\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
